<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Space Tracker</title>
    <meta name="description" content="Space object tracker by Astro Committee Engineer 17"/>

    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="static/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="static/css/flat-ui.css" rel="stylesheet">
    <link href="static/assets/css/demo.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="dist/js/vendor/html5shiv.js"></script>
      <script src="dist/js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="demo-headline">
        <h1 class="demo-logo">
          Space Object Tracker
          <small>Astro-Committee Engineer 17</small>
        </h1>
      </div> <!-- /demo-headline -->

      <div class="row demo-row">
        <form action="/foo" method="post">
          <div class="col-xs-3">
            <input type="submit" name="submit" class="btn btn-block btn-lg btn-primary" value="ISS">
          </div>
          <div class="col-xs-3">
            <input type="submit" name="submit" class="btn btn-block btn-lg btn-info" value="Moon">
          </div>
          <div class="col-xs-3">
            <input type="submit" name="submit" class="btn btn-block btn-lg btn-inverse" value="Jupiter">
          </div>
           <div class="col-xs-3">
            <input type="submit" name="submit" class="btn btn-block btn-lg btn-primary" value="Saturn">
          </div> <br> <br>
          <div class="col-xs-3">
            <input type="submit" name="submit" class="btn btn-block btn-lg btn-info" value="Venus">
          </div>
          <div class="col-xs-3">
            <input type="submit" name="submit" class="btn btn-block btn-lg btn-inverse" value="Sun">
          </div>
          <div class="col-xs-3">
            <input type="submit" name="submit" class="btn btn-block btn-lg btn-primary" value="Mars">
          </div>
          <div class="col-xs-3">
            <input type="submit" name="submit" class="btn btn-block btn-lg btn-info" value="Pluto">
          </div><br><br>
          <div class="col-xs-3">
            <input type="submit" name="submit" class="btn btn-block btn-lg btn-info" value="Mercury">
          </div>
          <div class="col-xs-3">
            <input type="submit" name="submit" class="btn btn-block btn-lg btn-inverse" value="Uranus">
          </div>
          <div class="col-xs-3">
            <input type="submit" name="submit" class="btn btn-block btn-lg btn-primary" value="Neptune">
          </div>



        </form>

      </div> <!-- /row -->

    </div> <!-- /container -->

  </body>
  </html>
